@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh; 
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);   
    color: white;
}

       
       .destaque{
        color: rgb(72, 255, 88);
       }
        
        .cor-js{
    color: rgb(255, 196, 0);
    }


        .cor-Html{
    color: rgb(167, 33, 33);
    }

        .cor-css{
        color: rgb(72, 255, 88);
    }

.apresentacao{
    margin:15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.foto{
     height: 532px;
width: 550px;
left: 1032px;
top: 253px;
border-radius: 16px;
} 

.apresentacao-conteudo{
     width: 615px;
     font-family: 'Montserrat', sans-serif;
     display: flex;
     flex-direction: column;
     gap: 40px;
 }
 .apresentacao-titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
 }
 .apresentacao-texto{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
 }
 
 .botoes{
    display: flex;
    justify-content: space-between;

 }

 .botao {
    background-color:rgb(60, 211, 72);
    width: 280px;
    font-weight: 600;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif
}
